<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CompanyCustomTab.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CompanyCustomTab.Properties.Settings>
            <setting name="RevitTab" serializeAs="String">
                <value>SERATools</value>
            </setting>
            <setting name="EmailSupport" serializeAs="String">
                <value>itsupport@seradesign.com</value>
            </setting>
            <setting name="RevitServerAdmin" serializeAs="String">
                <value>vm-rs2019.local.serapdx.com</value>
            </setting>
            <setting name="IntranetAddress" serializeAs="String">
                <value>sera.sharepoint.com/SitePages/Home.aspx</value>
            </setting>
            <setting name="Website1Address" serializeAs="String">
                <value>bim.local.serapdx.com</value>
            </setting>
            <setting name="Website1Name" serializeAs="String">
                <value>Process + Standards Manual</value>
            </setting>
            <setting name="Website2Address" serializeAs="String">
                <value>randomwhitenoise.wordpress.com</value>
            </setting>
            <setting name="Website2Name" serializeAs="String">
                <value>Fighting Dinosaurs</value>
            </setting>
            <setting name="Website3Address" serializeAs="String">
                <value>www.revitforum.org</value>
            </setting>
            <setting name="Website3Name" serializeAs="String">
                <value>RevitForum</value>
            </setting>
            <setting name="IntranetName" serializeAs="String">
                <value>SERA Architects Intranet</value>
            </setting>
            <setting name="ShowRevitServerAdmin" serializeAs="String">
                <value>True</value>
            </setting>
        </CompanyCustomTab.Properties.Settings>
    </userSettings>
</configuration>